@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'poppins ' , sans-serif;
}

body{
    display: flex;
    justify-content: center;
    height: 100vh;
    background: url(Bg.jpg) no-repeat;
    align-items: center;
    background-size: cover;
    margin: 0;
   
    

}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    /* background: red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;    
}

.logo{
    font-size: 2cm;
    color: #fff;
    user-select: none;
    text-shadow:0px 0px 15px rgb(255, 208, 0), 0px 0px 15px cyan;
}

.navigation a {
    position: relative;
    font-size: 1.lem;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
    text-shadow:0px 0px 15px goldenrod, 0px 0px 15px cyan;
}

.navigation a::after {
    content:'';
    position: absolute;
    border-radius: 5px;
    background-color: #fff;
    width: 100%;
    height: 2px;
    bottom: -5px;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: 1s;
    
    
}

.navigation a:hover::after{
    transform-origin: left;
    transform: scaleX(1);
}

.navigation .btnLogin-popup{
    width: 103px;
    height: 50px;
    background: transparent;
    border: 2px solid #fff;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: #fff;
    font-weight: 500;
    margin-left: 40px;
    transition: 1s;
}

.navigation .btnLogin-popup:hover{
    background: #fff;
    color: black;
}


.container {
    position: relative;
    background: transparent;
    border: 3px solid cyan;
    box-shadow:0px 0px 15px goldenrod, 0px 0px 15px cyan ;
    border-radius: 20px;
    backdrop-filter: blur(20px);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 400px;
    overflow: hidden;
    transform: scale(0);
    transition: transform 0.5s ease, height 0.2s ease;
}

.container.active-popup {
    transform: scale(1);
    padding: auto;
}


.container .active{
    height: 520px;
}

.container .form-box{
    width: 100%;
    padding: 40px;
    
}

.container .form-box.login{
    transition: transform 0.18s ease;
    transform: translateX(0);
}

.container.active .form-box.login{
    transition: transform 0.18s ease;
    transform: translate(-400px);   
}
.container .form-box.register{
    position: absolute;
    transition: 0.18s ease;

    transform: translate(400px);
}
.container.active .form-box.register{
    transition: none;
    transform: translate(0);  
}   
.container .icon-close{
    position: absolute;
    box-shadow: 0 0 30px rgba(253, 0, 0, 0.5);
    top: 0%;
    right: 0%;
    width: 45px;
    background: #2b3135;
    color:#9ab2c5;
    font-size: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-bottom-left-radius: 15px;
    z-index: 1;
}
.form-box h2{
    font-size: .7cm;
    color: #fff;
    text-align: center;
    text-decoration: underline;
    font-family: sans-serif;
    justify-content: center;
    top: 2px;
    text-shadow: 0px 0px 15px goldenrod, 0px 0px 15px cyan;
    /* padding: 10px; */
    line-height: 40px;
    
}
.form-box h1{
    font-size: .5cm;
    color: #fff;
    text-align: center;
    text-shadow: 0px 0px 15px rgb(0, 0, 0), 0px 0px 15px cyan

    
}

.form-box p{
    font-size: .4cm;
    color: #fff;
    text-align: center;
    text-shadow: 0px 0px 15px rgb(255, 255, 255), 0px 0px 15px cyan
    
}
.container.from-About-Me-box.h2{
    color: #fff;

}

.login-register{
    justify-content: space-between;
    font-size: .5cm;
    color: #000000;
    text-align: center;
    font-weight: 500;
    margin: 25px 0 15px;
}

.login-register p a {
    color: cyan;
    text-decoration: none;
    font-weight: 500;
    transition: .7s;

}
.login-register p a:hover{
    text-decoration: underline;
    border: cyan;
    
}

.profile-photo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 10px auto;
    display: block;
}